.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.input {
    width: 100%;
    font-size: 20px;
    font-weight: lighter;
    outline: none;
    border: none
}

.title {
    color: rgb(234, 225, 224);
    font-weight: lighter;
    font-size: 54px;
    display: flex;
    justify-content: center;
}

.inputBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    background: #ffff;
    padding: 10px 16px;
    width: 100%;
    border: 0.5px solid rgb(245, 245, 245);
}

.arrowBox {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}